*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
select, input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}
button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #0056b3;
}
body{
    height: 100vh;
    width:  100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 50px;
    margin-top: 150px;
}
.login-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-top: 20px;
    gap: 15px;

    transition: opacity 0.3s ease;
}